@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@layer components {
  .normalLink {
    @apply flex justify-center items-center xl:justify-start gap-3 rounded
           cursor-pointer p-3 hover:bg-primary font-semibold text-pinkColor;
  }
  .topic {
    @apply flex justify-center items-center gap-2 px-3 py-2 rounded xl:rounded-full
         text-black xl:border-2 xl:border-gray-300 hover:bg-primary cursor-pointer;
  }
  .activeTopic {
    @apply flex justify-center items-center gap-2 px-3 py-2 rounded xl:rounded-full
         text-pinkColor xl:border-2 xl:border-pinkColor hover:bg-primary cursor-pointer;
  }
  .icon {
    @apply text-black text-2xl lg:text-4xl;
  }
  .whiteIcon {
    @apply text-white text-2xl lg:text-4xl;
  }
}
